body {
  font-family: "Lato", sans-serif;
  background: url("images/blackFadeBackground.png");
  background-size: 100% 100%;
   background-attachment: fixed;
}
header {
  text-align: center;
}
header > img {
  width: 100%;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.row {
display: flex;
width: 100%;
}
.column {
flex: 100%;
text-align: center;
}
@media only screen 
and (max-device-width: 1000px)
{
  .row {
    display: inline;
    width: 90%;
	margin: auto;
  }
  #categories img {
	width: 100%;
  }
}
#categories h1 {
  width: 75%;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 25px;
  color: white;
  text-shadow: 3px 3px 10px black;
  font-size: 150%;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 10px;
}
#categories img {
  box-shadow: 5px 5px 10px;
  border-radius: 15px;
  width: 90%;
  margin-top: 30px;;
}
#categories a {
  color: black;
}
#gallery h1 {
  font-style: italic;
  text-align: center;
  font-size: 200%;
  color: white;
  text-shadow: 3px 3px 5px black;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
}
#gallery a {
  color: black;
}
#gallery img {
  box-shadow: 5px 5px 10px;
  border-radius: 15px;
  width: 90%;
}
.sold {
  position: relative;
}
.sold h2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  color: red;
  font-size: clamp(1rem, 0.5rem + 8vw, 10rem);
}
.thumbnail:hover {
  position: relative;
  top: -35px;
}
.specs {
  position: relative;
}
.specs:hover:after {
  background: #333;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  color: #fff;
  content: attr(gloss);
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
}
hr {
  width: 80%;
}
p {
  width: 75%;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 25px;
  color: white;
  text-shadow: 3px 3px 10px black;
  font-size: 150%;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 10px;
}

#navbutton {
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: 150%;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 2;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
.sidenav a {
  padding: 20px 20px 20px 32px;
  text-decoration: none;
  font-size: 150%;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav p {
  background: none;
  font-size: 150%;
  margin-top: 60px;
  margin-bottom: 0px;
  text-align: center;
}
.sidenav a:hover {
  color: #f1f1f1;
  border-left: 2px solid white;
  padding-left: 40px;
}
.sidenav a.closebtn {
  font-size: 400%;
  padding: 20px 20px 20px 20px;
}
.sidenav a.closebtn:hover {
  border-left: none;
}
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
#navlinks {
	padding-top: 60px;
	padding-bottom: 60px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}