body {
  font-family: "Lucida Sans", Helvetica, Arial, sans-serif;
  background: url("images/blackFadeBackground.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
}
header > img {
  width: 100%;
  margin-top: 30px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.row {
  display: flex;
  width: 100%;
}
.column {
  flex: 100%;
  text-align: center;
  position: relative;
}
header {
  text-align: center;
}
header img {
	position: relative;
	top: -60px;
	border-bottom: 2px solid white;
}
a#readAboutOpa {
  position: relative;
  top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 160%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
  z-index: 5;
}
a#readAboutOpa::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}
a#readAboutOpa:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
a#readAboutOpa::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: 2;
  transition: transform .3s ease;
}
@keyframes opaBio {
  0% {transform: scale(1);}
  100% {transform: scale(1.2);}
}
.categories {
	text-align: center;
}
.category > h1 {
  position: absolute;
  left: 0;
  margin-top: 30%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
  font-size: 250%;
  text-shadow: 3px 3px 5px black;
	padding: 5px;
	border-radius: 5px;
}
.category > h1 > a {
  text-decoration: none;
}
.category > a {
  color: black;
}
.headerText > a {
  color: white;
}
#categories img {
  box-shadow: 5px 5px 10px;
  border-radius: 15px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
}
#bio > #portfolio > h1 {
  position: absolute;
  left: 60%;
  margin-top: 19%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  font-size: 120%;
  text-shadow: 3px 3px 5px black;
	padding: 5px;
	border-radius: 5px;
	width: 20%;
}
#portfolio > h1 > a {
	text-decoration: none;
}
#gallery h1 {
  font-style: italic;
  text-align: center;
  font-size: 250%;
  color: white;
  text-shadow: 3px 3px 5px black;
  padding-bottom: 30px;
}
#gallery a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#gallery img {
  box-shadow: 5px 5px 10px;
  border-radius: 15px;
  width: 90%;
}
#bio {
  width: 80%;
  margin-top: 10px;
	margin: auto;
}
#bio img {
  width: 25%;
  margin-top: 20px;
  float: right;
  margin-right: 100px;
  margin-left: 10px;
  border-radius: 10px;
}
#bio h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
#bio h1 {
  width: 40%;
  margin-bottom: 80px;
  padding: 20px;
  margin-left: 7.2%;
  font-style: italic;
  padding-bottom: 40px;
	border-left: 4px solid rgba(0, 0, 0, 0.7);
}
#bio > img#qrCode {
  float: right;
  width: 25%;
  position: relative;
  top: -25px;
  background-color: white;
}
footer {
  text-align: center;
}
footer > a#readAboutOpa {
  bottom: 10px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 30% 10px 30%;
}
.backToHome {
  position: relative;
  float: right;
  top: 0px;
  right: 20px;
  z-index: 0;
}
.backToHome a {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  will-change: box-shadow,transform;
  background: rgba(255, 255, 255, .8);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 30px;
  padding: 20px;
  font-size: 150%;
  border-radius: 30px;
  color: black;
  text-decoration: none;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  border: 1px solid white;
  font-weight: bold;
}
.backToHome a:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
.backToHome a:active{
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}
.sold {
  position: relative;
}
.sold h2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  color: red;
  font-size: clamp(1rem, 0.5rem + 8vw, 10rem);
}
.thumbnail:hover {
  position: relative;
  top: -35px;
  animation-name: thumbnailHover;
  animation-duration: .3s;
}
@keyframes thumbnailHover {
  0% {top: 0px;}
  100% {top: -35px;}
}
.specs:after {
  position: relative;
  background: #333;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  content: attr(gloss);
  left: 0;
  top: -10px;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
}
hr {
  width: 80%;
}
p {
  width: 75%;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 25px;
  color: white;
  text-shadow: 3px 3px 10px black;
  font-size: 150%;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
}
#navbutton {
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: 200%;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 4;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  color: white;
}
.sidenav a {
  padding: 20px 20px 20px 32px;
  text-decoration: none;
  font-size: 150%;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav h2 {
  background: none;
  font-size: 150%;
  margin-bottom: 0px;
  text-align: center;
}
.sidenav a:hover {
  color: #f1f1f1;
  border-left: 2px solid white;
  padding-left: 40px;
}
.sidenav a.closebtn {
  font-size: 400%;
  padding: 20px 20px 20px 20px;
}
.sidenav a.closebtn:hover {
  border-left: none;
}
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#navlinks {
	padding-top: 60px;
	padding-bottom: 60px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Modal */
.modal-window {
	position: fixed;
	top: 10px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 6;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
	width: 500px;
	margin: auto;
}
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
img#modal-img {
	border-radius: 0px;
	border: 4px solid white;
	-webkit-box-shadow: 0px 0px 0px 900px rgba(200, 200, 200, 0.7); 
}
.modal-window a {
	z-index: 7;
	right: -100%;
	top: -10%;
	position: absolute;
	padding: 1000%;
	background: rgba(0, 0, 0, 0);
}
.modal-window p {
	z-index: 7;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 60px;
	font-size: 100%;
}
.mobileText {
	font-size: 0%;
}
.desktopText {
	font-size: 100%;
}

/* MOBILE VERSION */
@media all and (orientation: portrait) {
	.mobileText {
		font-size: 100%;
	}
	.desktopText {
		font-size: 0%;
	}
  #bio {
    width: 100%;
    background: none;
		border: none;
  }
  #bio img {
		width: 40%;
		margin-right: 40px;
		margin-bottom: 20px;
		margin-left: 10px;
  }
  header > a {
		font-size: 120%;
		bottom: 10px;
  }
	header img {
		position: relative;
		top: 20px;
		left: 0px;
		border-bottom: 2px solid white;
		border-top: 2px solid white;
		border-left: 40px solid black;
		border-right: 40px solid black;
	}
  #bio h1 {
    width: 100%;
    margin-bottom: 80px;
    border: 2px solid white;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px;
    margin-left: 0;
  }
	#bio h2 {
		border-radius: 10px;
		padding: 20px;
		width: 70%;
	}
  #bio > img#qrCode {
		width: 30%;
  }
  a#readAboutOpa {
		font-size: 80%
  }
  footer > a#readAboutOpa {
    font-size: 0%;
		padding: 0px;
  }
  #navbutton {
    font-size: 0%;
  }
	#venmoQR {
		font-size: 0%;
	}
  .specs:after {
		font-size: 60%;
		padding: 10px 10px 10px 10px;
  }
  p {
		font-size: 175%;
  }
	.category > h1 {
		width: 90%;
	}
	
	/* Modal */
	.modal-window {
		position: fixed;
		z-index: 6;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s;
		top: 50px;
		width: 90%;
		margin: auto;
	}
	.modal-window:target {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}
	img#modal-img {
		border-radius: 0px;
		border: 4px solid white;
		-webkit-box-shadow: 0px 0px 0px 900px rgba(200, 200, 200, 0.7); 
	}
	.modal-window p {
		font-size: 200%;
		right: 80px;
	}
	#portfolio {
		width: 90%;
		margin: auto;
		text-align: center;
	}
	#portfolio > a {
		color: black;
	}
	#portfolio > h1 {
		position: absolute;
		left: 22%;
		margin-top: 10%;
		color: white;
		background: rgba(0, 0, 0, 0.6);
		z-index: 0;
		font-size: 320%;
		text-shadow: 3px 3px 5px black;
	}
}