body {
  font-family: "Lato", sans-serif;
  background: 
  url("images/whiteTextureBackground.png") 
  no-repeat 
  top, 
  url("images/bikeBackground.jpg") 
  no-repeat 
  center 
  fixed;
  background-size: 100%;
  background-color: gray;
}
p#top {
  height: 80px;
  background: none;
}
header {
  box-shadow: 5px 5px 10px;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: black;
  margin-bottom: 80px;
}
header > img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.row {
  display: flex;
  width: 65%;
  margin: auto;
}
.column {
  flex: 50%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
#gallery img {
  box-shadow: 5px 5px 10px;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 700px;
  height: auto;
  display: block;
  z-index: 1;
}
hr {
  width: 80%;
}
p {
  width: 60%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
  text-shadow: 3px 3px 10px black;
  font-size: 200%;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 10px;
}

#navbutton {
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: 300%;
  cursor: pointer;
  position: fixed;
  top: 0;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}